<div class="container card">
  <form class="d-flex justify-items-center align-items-center flex-column">
    <h4>Verify Your Email</h4>
    <div class="container">
      We have sent you a link to your email please click to verify.
    </div>
    <div class="container-fluid ">
      <button
        type="submit"
        class="btn btn-dark d-block"
        (click)="handleVerify()"
      >
        Continue
      </button>
    </div>
  </form>
</div>
