.card{
    height: 100vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    min-width: 300px;
    div{
      text-align: center;
      padding:10px;
    }
}
// div {
//   margin: 10px;
//   a {
//     text-decoration: none;
//     width: 50%;
//     margin: auto;
//     padding: 10px;
//   }
// }
