<ng-container *ngIf="user$ | async as user">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <div class="container-fluid"> -->
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" routerLink="/">
          <i class="fas fa-home home"></i>
        </a>
      </li>
    </ul>
    <form class="d-flex input-group">
      <input
        class="nav-link"
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
      />
      <span class="input-group-text border-0" id="search-addon">
        <a routerLink="/search">
          <i class="fas fa-search"></i>
        </a>
      </span>
    </form>
    <ul class="navbar-nav d-flex flex-row">
      <!-- Icons -->

      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" routerLink="/chat">
          <i class="fab fa-rocketchat chat"></i>
        </a>
      </li>
      <!-- Icon dropdown -->
      <li mdbDropdown class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <ng-container *ngIf="user.photoURL; else default_icon">
            <i
              ><img
                src=""
                alt=""
                width="30"
                height="30"
                [src]="user.photoURL"
                class="profile-icon"
            /></i>
          </ng-container>
          <ng-template #default_icon>
            <i class="fas fa-user"></i>
          </ng-template>
        </a>
        <ul
          mdbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" routerLink="/posted">
              <i class="fas fa-vote-yea"></i>
              Posted</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="/activity">
              <i class="fas fa-heart"></i>
              Activity</a
            >
          </li>

          <li>
            <a class="dropdown-item" routerLink="/saved">
              <i class="fas fa-bookmark"></i>

              Saved</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="/profile">
              <i class="fas fa-user-circle"></i>
              Profile</a
            >
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a
              class="dropdown-item"
              (click)="handleLogout()"
              style="cursor: Pointer"
            >
              Logout
              <i class="fas fa-sign-out-alt"> </i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</ng-container>
