nav{
  padding: 10px;
  align-items: center;
  justify-content:space-between; 
  a:focus {
    i {
      color: rgb(0, 0, 0);
    }
  }
  form {
    // border: 1px solid black;
    max-width: 300px;
    width: 45%;
  }
  .profile-icon{
    border-radius: 100%;
  }
}
