.card {
  height: 100vh;
  width: 50%;
  margin-top :40px; ;
  margin-bottom :40px; ;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // width: 100%;
  //   border: 1px solid red;
  padding: 30px;
  * {
    padding: 5px;
    margin: 5px;
  }
  .google-cont {
    padding: 30px;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .new-div {
    h6 {
      font-size: 1rem;
      // font-size: clamp(20px,2vw,70px);
    }
  }
}
mat-error {
  font-size: 12px;
}
