<div class="container-fluid card shadow">
  <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <h1>Login</h1>
    <div class="container">
      <mdb-form-control>
        <input
          mdbInput
          formControlName="email"
          type="email"
          id="email"
          name="email"
          class="form-control"
          required
        />
        <label mdbLabel class="form-label" for="email">Email</label>
      </mdb-form-control>
      <mat-error *ngIf="email?.errors?.['required']"
        >Email is required</mat-error
      >
      <mat-error *ngIf="email?.errors?.['email']"
        >Email is not correct Format</mat-error
      >
      <mdb-form-control>
        <input
          mdbInput
          formControlName="password"
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
        />
        <label mdbLabel class="form-label" for="password">Password</label>
      </mdb-form-control>
      <mat-error *ngIf="password?.errors?.['required']"
        >Password is required</mat-error
      >
    </div>
    <button type="submit" class="btn btn-dark" [disabled]="loginForm.invalid">
      Login
    </button>
    <div class="container google-cont">
      <h6>Use  Google</h6>
      <a
        class="btn btn-primary"
        style="background-color: #dd4b39"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>
    </div>
    <div
      class="container d-flex flex-column justify-items-center align-items-center new-div"
    >
      <h6>New User?<a routerLink="/register">Sign Up</a></h6>
    </div>
    <div
      class="container d-flex flex-column justify-items-center align-items-center new-div"
    >
      <a routerLink="/forgotPassword"> Forgot Password? </a>
    </div>
  </form>
</div>
