<div class="card shadow post-card">
  <div class="container">
    <ul class="navbar-nav d-flex flex-row post-header">
      <li class="nav-item me-3 me-lg-0">
        <a
          class="nav-link"
          routerLink="/user/username/show"
          title="Go to Profile"
        >
          <i class="far fa-user-circle"> </i>
          User
        </a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" href="#" title="Add Bookmark">
          <i class="far fa-bookmark"></i>
        </a>
      </li>
    </ul>
  </div>
  <img
    src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
    class="card-img-top"
    alt="Fissure in Sandstone"
  />
  <div class="card-body">
    <h5 class="card-title">
      Post title
      <a href="" title="See Full Info">
        <i class="fas fa-info-circle"></i>
      </a>
    </h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>

    <div class="container">
      <ul class="navbar-nav d-flex flex-row post-footer">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#" title="Like Post">
            <i class="far fa-heart"></i>
            0 Likes
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#" title="See Comments">
            <i class="far fa-comments"></i>
            2 Comments
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
