.post-card {
  min-width: 200px;
  max-width: 400px;
  margin: auto;
  a{
    text-decoration: none;
    &:hover{
            text-decoration: none;
    }
  }
  .post-header,.post-footer{
    align-items: center;
    justify-content: space-between;
  }
}
