.card{
    height: 100vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    min-width: 300px;
}
// form{
//     *{
//         // padding:5px;
//         margin: 0px 20px 20px 20px;


//     }
// }