<div class="container card">
  <form
    #VerifyPasswdForm="ngForm"
    (ngSubmit)="handleForgotPasswd(VerifyPasswdForm.value)"
    class="d-flex justify-items-center align-items-center flex-column"
  >
    <h4>Forgot Password</h4>
    <div class="container">
      <mdb-form-control>
        <input
          mdbInput
          ngModel
          type="email"
          id="email"
          name="email"
          class="form-control"
          required
        />
        <label mdbLabel class="form-label" for="name">Email</label>
      </mdb-form-control>
    </div>
    <button type="submit" class="btn btn-dark">Send</button>
    <span class="d-block" style="font-size:10px"
      >Click on the link we sent to reset a new password</span
    >
  </form>
</div>
