<ng-container *ngIf="user$ | async as user">
  <div class="home-div">
    <ng-container>
      <span class="dropdown-item">Hi, {{ user.displayName }}</span>
    </ng-container>
    <app-post-show></app-post-show>
  </div>
</ng-container>
