<ng-container>
  <div class="container card shadow" *ngIf="user$ | async as user">
    <h1>User Profile</h1>
    <div class="profile-img">
      <img
        [src]="user.photoURL ?? 'assets/user_default_img.png'"
        width="120"
        height="120"
      />
      <a (click)="inputField.click()" class="edit-img">
        <i class="fas fa-user-edit"></i>
      </a>
    </div>
    <input
      type="file"
      #inputField
      name="photo"
      id="photo"
      (change)="uploadImg($event, user)"
      hidden
    />
    <div class="user-input">
      <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <div class="container-fluid">
          <h3 style="display: inline">User Info</h3>
          <a href=""> </a>
        </div>
        <div class="container-fluid">
          <mdb-form-control>
            <input
              mdbInput
              formControlName="displayName"
              type="email"
              id="email"
              name="email"
              class="form-control"
              required
            />
            <label mdbLabel class="form-label" for="displayName"
              >UserName</label
            >
          </mdb-form-control>
        </div>
        <div class="container-fluid">
          <mdb-form-control>
            <input
              mdbInput
              formControlName="phone"
              type="text"
              id="phone"
              name="phone"
              class="form-control"
            />
            <label mdbLabel class="form-label" for="phone">Phone</label>
          </mdb-form-control>
          <!-- <mat-error *ngIf="displayName?.errors?.['required']"
            >Email is required</mat-error> -->
        </div>
        <div class="container-fluid">
          <mdb-form-control>
            <input
              mdbInput
              formControlName="address"
              type="text"
              id="address"
              name="address"
              class="form-control"
            />
            <label mdbLabel class="form-label" for="address">Address</label>
          </mdb-form-control>
        </div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="profileForm.invalid"
        >
          Update
        </button>
      </form>
    </div>
  </div>
</ng-container>
