.container {
  height: 100vh;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  * {
    padding: 5px;
  }
  .profile-img {
    position: relative;
    height: fit-content;
    width: fit-content;
    img {
      border-radius: 100%;
    }
  }
  .edit-img {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  a {
    cursor: pointer;
  }
  .user-input{
    padding:10px;
    margin-top: 40px;
  }
}
