.card {
  height: 100vh;
  width: 50%;
  min-width: 300px;
  margin-top:40px;
  margin-bottom:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  // max-height: 700px;
  // min-height: 500px;
}
form {
  // width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //   border: 1px solid red;
  padding: 30px;
  * {
    padding: 5px;
    margin: 5px;
  }
  .google-cont {
    padding: 30px;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

mat-error {
  font-size: 12px;
}
