<ng-container>
  <div class="container-fluid card shadow">
    <form [formGroup]="registerForm" (ngSubmit)="handleRegister()">
      <h1>Register</h1>
      <div class="container">
        <mdb-form-control>
          <input
            mdbInput
            type="text"
            id="userName"
            name="userName"
            class="form-control"
            formControlName="userName"
          />
          <label mdbLabel class="form-label" for="userName">UserName</label>
        </mdb-form-control>
        <mat-error *ngIf="userName?.errors?.['required']"
          >UserName is required</mat-error
        >
        <mdb-form-control>
          <input
            mdbInput
            type="email"
            id="email"
            name="email"
            class="form-control"
            formControlName="email"
            required
          />
          <label mdbLabel class="form-label" for="email">Email</label>
        </mdb-form-control>
        <mat-error *ngIf="email?.errors?.['required']"
          >Email is required</mat-error
        >
        <mat-error *ngIf="email?.errors?.['email']"
          >Email is not correct format</mat-error
        >
        <mdb-form-control>
          <input
            mdbInput
            type="password"
            id="password"
            name="password"
            formControlName="password"
            class="form-control"
            required
          />
          <label mdbLabel class="form-label" for="password">Password</label>
        </mdb-form-control>
        <mat-error *ngIf="password?.errors?.['required']"
          >Password is required</mat-error
        >
        <mat-error *ngIf="password?.errors?.['minlength']"
          >Password should be at least 6 characters</mat-error
        >
        <mdb-form-control>
          <input
            mdbInput
            type="password"
            id="password-confirmation"
            name="passwordConfirmation"
            class="form-control"
            formControlName="passwordConfirm"
          />
          <label mdbLabel class="form-label" for="password-confirmation"
            >Password Confirmation</label
          >
        </mdb-form-control>
        <mat-error *ngIf="passwordConfirm?.errors?.['required']"
          >Password Confirmation is required</mat-error
        >
        <mat-error *ngIf="registerForm?.errors?.['passwordsNotMatching']"
          >Password Confirmation Doesn't Match Password</mat-error
        >
      </div>
      <button
        type="submit"
        class="btn btn-dark"
        [disabled]="registerForm.invalid"
      >
        Sign Up
      </button>
      <div class="container google-cont">
        <h6>Use Google</h6>
        <a
          class="btn btn-primary"
          style="background-color: #dd4b39"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
      </div>
      <div
        class="container d-flex flex-column justify-items-center align-items-center new-div"
      >
        <h6>Already User?<a routerLink="/login">Login</a></h6>
      </div>
    </form>
  </div>
</ng-container>
